/* Reset styles */

ul, li
  list-style-type: none
  display: flex

body
  padding: 15px
  background-color: #ffd
  font-family: Lato  

.container
  max-width: 1024px
  margin: auto

nav
  ul, div
    width: 33.3%
  ul
    li
      line-height: 14px
      padding: 13px


ul#banner-list
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif
  font-size: 1em
  font-weight: 700
  color: rgba(0,0,0,.87)
  text-transform: uppercase
  text-align: center